Repository remarkjs/remark, pull requests merged in 2019-08, with the labels that each got.

#432 types: export remark options type
  packages/remark/types/index.d.ts
Labels: enhancement, patch

#434 fix(types): support stringify and parse without passing settings
  packages/remark-parse/types/index.d.ts
  packages/remark-parse/types/test.ts
  packages/remark-stringify/types/index.d.ts
  packages/remark-stringify/types/test.ts
Labels: bug, patch, remark-parse, remark-stringify

#435 Fix line feeds in tables breaking them
  packages/remark-stringify/lib/visitors/table-cell.js
  packages/remark-stringify/test.js
Labels: remark-stringify, 🐛 type/bug, 👶 semver/patch, 🗄 area/interface, 🙆 status/confirmed
