Repository remarkjs/remark, pull requests merged in 2019-07, with the labels that each got.

#418 Fix support for definitions in list and blockquote
  packages/remark-parse/lib/tokenize/definition.js
  test/fixtures/input/definition-in-list-and-blockquote.text
  test/fixtures/tree/def-blocks.commonmark.json
  test/fixtures/tree/def-blocks.json
  test/fixtures/tree/definition-in-list-and-blockquote.json
  test/fixtures/tree/entities-advanced.commonmark.json
  test/fixtures/tree/entities-advanced.commonmark.pedantic.json
  test/fixtures/tree/entities-advanced.json
  test/fixtures/tree/entities-advanced.nogfm.commonmark.json
  test/fixtures/tree/entities-advanced.nogfm.commonmark.pedantic.json
  test/fixtures/tree/entities-advanced.nogfm.json
  test/fixtures/tree/entities-advanced.nogfm.pedantic.json
  test/fixtures/tree/entities-advanced.pedantic.json
Labels: bug, remark-parse

#419 Fix to prefer footnote instead of reference label
  packages/remark-parse/lib/tokenize/reference.js
  test/fixtures/input/footnote-or-reference-label.text
  test/fixtures/tree/footnote-like.footnotes.json
  test/fixtures/tree/footnote-matrix.footnotes.json
  test/fixtures/tree/footnote-or-reference-label.footnotes.json
  test/fixtures/tree/footnote-or-reference-label.json
Labels: bug, remark-parse

#422 Fix tilde, backtick in fenced code info string
  packages/remark-parse/lib/tokenize/code-fenced.js
  packages/remark-stringify/lib/visitors/code.js
  test/fixtures/input/fenced-code-info-with-marker.text
  test/fixtures/tree/fenced-code-info-with-marker.json
  test/fixtures/tree/fenced-code-info-with-marker.nogfm.json
Labels: bug, remark-parse, remark-stringify

#423 Fix initial, final newlines in fenced code
  packages/remark-parse/lib/tokenize/code-fenced.js
  packages/remark-stringify/lib/visitors/code.js
  test/fixtures/input/fenced-code-initial-final-newlines.text
  test/fixtures/tree/fenced-code-initial-final-newlines.json
Labels: bug, remark-parse, remark-stringify

#424 Fix non-ASCII whitespace in inline code
  packages/remark-parse/lib/tokenize/code-inline.js
  packages/remark-parse/lib/util/is-markdown-whitespace-character.js
  test/fixtures/input/code-inline-whitespace.text
  test/fixtures/tree/code-inline-whitespace.json
Labels: bug, remark-parse

#420 Fix inline code and vertical bars in tables
  packages/remark-parse/lib/tokenize/code-inline.js
  packages/remark-parse/lib/tokenize/table.js
  packages/remark-stringify/lib/visitors/inline-code.js
  test/fixtures/input/code-spans.text
  test/fixtures/input/table-pipes-in-code.text
  test/fixtures/input/tables-with-pipes-and-code.text
  test/fixtures/tree/backslash-escapes.commonmark.json
  test/fixtures/tree/backslash-escapes.json
  test/fixtures/tree/backslash-escapes.nogfm.json
  test/fixtures/tree/blockquote-lazy-fence.nogfm.commonmark.json
  test/fixtures/tree/blockquote-lazy-fence.nogfm.json
  test/fixtures/tree/code-block-indentation.nooutput.nogfm.json
  test/fixtures/tree/code-inline-whitespace.json
  test/fixtures/tree/code-spans.json
  test/fixtures/tree/entities-advanced.nogfm.commonmark.json
  test/fixtures/tree/entities-advanced.nogfm.commonmark.pedantic.json
  test/fixtures/tree/entities-advanced.nogfm.json
  test/fixtures/tree/entities-advanced.nogfm.pedantic.json
  test/fixtures/tree/entities.nogfm.json
  test/fixtures/tree/fenced-code-empty.nogfm.json
  test/fixtures/tree/fenced-code-info-with-marker.json
  test/fixtures/tree/fenced-code-info-with-marker.nogfm.json
  test/fixtures/tree/fenced-code-trailing-characters-2.nooutput.nogfm.json
  test/fixtures/tree/fenced-code-trailing-characters.nooutput.nogfm.json
  test/fixtures/tree/fenced-code.nogfm.json
  test/fixtures/tree/list-continuation.nogfm.commonmark.footnotes.json
  test/fixtures/tree/list-continuation.nogfm.commonmark.footnotes.pedantic.json
  test/fixtures/tree/list-continuation.nogfm.commonmark.json
  test/fixtures/tree/list-continuation.nogfm.commonmark.pedantic.json
  test/fixtures/tree/list-continuation.nogfm.footnotes.json
  test/fixtures/tree/list-continuation.nogfm.footnotes.pedantic.json
  test/fixtures/tree/list-continuation.nogfm.json
  test/fixtures/tree/list-continuation.nogfm.pedantic.json
  test/fixtures/tree/lists-with-code-and-rules.nogfm.commonmark.pedantic.json
  test/fixtures/tree/lists-with-code-and-rules.nogfm.json
  test/fixtures/tree/lists-with-code-and-rules.nogfm.pedantic.json
  test/fixtures/tree/nested-square-link.commonmark.json
  test/fixtures/tree/nested-square-link.json
  test/fixtures/tree/nested-square-link.nogfm.commonmark.json
  test/fixtures/tree/nested-square-link.nogfm.json
  test/fixtures/tree/table-pipes-in-code.nogfm.json
  test/fixtures/tree/tables-with-pipes-and-code.json
  test/fixtures/tree/tables-with-pipes-and-code.nogfm.json
Labels: bug, remark-parse

#383 feat: TS type information for remark-stringify and remark-parse
  package.json
  packages/remark-parse/package.json
  packages/remark-parse/types/index.d.ts
  packages/remark-parse/types/test.ts
  packages/remark-parse/types/tsconfig.json
  packages/remark-parse/types/tslint.json
  packages/remark-stringify/package.json
  packages/remark-stringify/types/index.d.ts
  packages/remark-stringify/types/test.ts
  packages/remark-stringify/types/tsconfig.json
  packages/remark-stringify/types/tslint.json
  packages/remark/package.json
  packages/remark/types/index.d.ts
  packages/remark/types/test.ts
  packages/remark/types/tsconfig.json
  packages/remark/types/tslint.json
Labels: enhancement, major

#429 Don't escape an exclamation mark unnecessarily.
  packages/remark-stringify/lib/escape.js
  packages/remark-stringify/test.js
Labels: patch, remark-stringify
