Repository remarkjs/remark, pull requests merged in 2020-07, with the labels that each got.

#514 Ignore package-lock.json files
  .gitignore
Labels: 🏗 area/tools, 👶 semver/patch

#515 Fix to make all remark options optional
  packages/remark-parse/types/index.d.ts
  packages/remark-parse/types/test.ts
  packages/remark-stringify/types/index.d.ts
  packages/remark-stringify/types/test.ts
  packages/remark/types/index.d.ts
  packages/remark/types/test.ts
Labels: ☂️ area/types, 👶 semver/patch

#516 Add missing type to typescript .d.ts
  packages/remark-parse/types/index.d.ts
Labels: ☂️ area/types, 🐛 type/bug, 👶 semver/patch

#513 Fix using remark in typescript directly
  package.json
  packages/remark/package.json
  packages/remark/types/index.d.ts
  packages/remark/types/test.ts
Labels: ☂️ area/types, 👶 semver/patch
