Repository remarkjs/remark, pull requests merged in 2020-03, with the labels that each got.

#474 Fix parsing blank line containing spaces
  packages/remark-parse/lib/parser.js
  packages/remark-parse/lib/tokenize/blank-line.js
  packages/remark-parse/lib/tokenize/newline.js
  packages/remark-parse/lib/tokenize/paragraph.js
  packages/remark-parse/readme.md
  test/fixtures/input/isolated-hard-break.text
  test/fixtures/tree/isolated-hard-break.json
Labels: 🐛 type/bug, 🔍 status/open, 🕸️ area/tests, 🗄 area/interface

#458 remark-parse: stricter link parsing for whitespace between display te…
  packages/remark-parse/lib/tokenize/link.js
  test/fixtures/tree/link-spaces.commonmark.json
  test/fixtures/tree/link-spaces.json
  test/fixtures/tree/link-spaces.nogfm.commonmark.json
  test/fixtures/tree/link-spaces.nogfm.json
Labels: 🗄 area/interface, 🙆 status/confirmed, 🦋 type/enhancement, 🧑 semver/major

#477 Add deprecation note for `pedantic` mode
  packages/remark-parse/readme.md
  packages/remark-stringify/readme.md
Labels: 👶 semver/patch, 📚 area/docs

#480 typings: add tsdocs for parser options, note `pedantic` is deprecated
  packages/remark-parse/types/index.d.ts
Labels: ☂️ area/types, 📚 area/docs

#476 Tables
  packages/remark-stringify/lib/defaults.js
  packages/remark-stringify/lib/visitors/table.js
  packages/remark-stringify/package.json
  packages/remark-stringify/readme.md
  packages/remark-stringify/test.js
  packages/remark-stringify/types/index.d.ts
  test/fixtures/input/table-cell-padding.output.notable-cell-padding.text
  test/fixtures/input/table-cell-padding.output.text
  test/fixtures/input/table-loose.text
  test/fixtures/input/table-pipe-align.output.notable-pipe-align.text
  test/fixtures/input/table-pipe-align.output.text
  test/fixtures/tree/table-cell-padding.output.json
  test/fixtures/tree/table-cell-padding.output.notable-cell-padding.json
  test/fixtures/tree/table-loose.json
  test/fixtures/tree/table-pipe-align.output.json
  test/fixtures/tree/table-pipe-align.output.notable-pipe-align.json
Labels: remark-stringify, 🗄 area/interface, 🦋 type/enhancement, 🧑 semver/major

#481 parse: fix support for literal URLs
  packages/remark-parse/lib/locate/url.js
  packages/remark-parse/lib/tokenize/url.js
  packages/remark-parse/package.json
  test/fixtures/input/literal-url.text
  test/fixtures/tree/auto-link-url.json
  test/fixtures/tree/entities-advanced.commonmark.json
  test/fixtures/tree/entities-advanced.commonmark.pedantic.json
  test/fixtures/tree/entities-advanced.json
  test/fixtures/tree/entities-advanced.pedantic.json
  test/fixtures/tree/literal-url.commonmark.json
  test/fixtures/tree/literal-url.json
  test/fixtures/tree/literal-url.nogfm.json
Labels: remark-parse, 🗄 area/interface, 🙆 status/confirmed, 🦋 type/enhancement, 🧑 semver/major

#479 parse: add support for emails without protocol
  packages/remark-parse/lib/locate/email.js
  packages/remark-parse/lib/parser.js
  packages/remark-parse/lib/tokenize/email.js
  packages/remark-parse/readme.md
  test/fixtures/input/auto-link-url.text
  test/fixtures/input/literal-email.text
  test/fixtures/tree/auto-link-url.json
  test/fixtures/tree/auto-link-url.nogfm.json
  test/fixtures/tree/literal-email.commonmark.json
  test/fixtures/tree/literal-email.json
  test/fixtures/tree/literal-email.nogfm.json
  test/fixtures/tree/markdown-documentation-syntax.commonmark.json
  test/fixtures/tree/markdown-documentation-syntax.commonmark.pedantic.json
  test/fixtures/tree/markdown-documentation-syntax.json
  test/fixtures/tree/markdown-documentation-syntax.pedantic.json
Labels: remark-parse, 🗄 area/interface, 🦋 type/enhancement, 🧑 semver/major
